@import './base.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
